.App {
  text-align: center;
}

.timer{
  color:rgb(14, 147, 52);
  border: 1px solid  rgb(14, 147, 52);
  margin:auto;
  margin-top: 100px;
  height:200px;
  width: 360px;
  background-color:rgb(150, 245, 49);
  }

.timeDisplay{
    line-height: 40px;
    margin: 10px  5px 15px 10px;
    border: 1px solid  rgb(14, 147, 52);
    height: 90px;
    width: 280px;
    text-align:center;
  }

.adjustBtn{
  line-height: 40px;
  border: 1px solid  rgb(14, 147, 52);
  height: 40px;
  width: 50px;
  text-align:center;
  }

.startResetBtn{
  line-height: 40px;
  border: 1px solid  rgb(14, 147, 52);
  height: 40px;
  width: 50px;
  text-align:center;
  }
