.App {
  text-align: center;
}

.timer{
  color:rgb(14, 147, 52);
  border: 2px solid  rgb(14, 147, 52);
  margin:auto;
  margin-top: 100px;
  height:200px;
  width: 360px;
  background-color:rgb(150, 245, 49);
  border-radius: 10px;
  }

.timeDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 146, 146);
    font-size: 80px;
    vertical-align: middle;
    color: rgb(81, 250, 137);
    line-height: 40px;
    margin: 10px  5px 15px 5px;
    border: 2px solid  rgb(14, 147, 52);
    height: 90px;
    width: 285px;
    text-align:center;
    border-radius: 10px;
  }

.startResetBtn{
    color: rgb(196, 255, 216);
    font-size:13px;
    background-color: rgb(24, 172, 90);
    border: 2px solid  rgb(14, 147, 52);
    height: 40px;
    width: 50px;
    text-align:center;
    margin-left: 300px;
    border-radius: 5px;
  }

  #start_stop{
    line-height: 18px;
    height: 38px;
    padding-top: 2px;
    font-size:12px;
    position: absolute;
    margin-top: -107px;
  }

  #reset{
    position: absolute;
    margin-top: -60px;
    line-height: 40px;
  }

  .adjustBtn{
    line-height: 40px;
    border: 2px solid  rgb(14, 147, 52);
    height: 40px;
    width: 50px;
    text-align:center;
    border-radius: 5px;
  }

   {/*
  #session-increment{
     {/*margin-top: 45px;
   // margin-left: 5px;


  #session-decrement{
   margin-top: -43px;
   // margin-left: 125px;

  }

  #break-increment{
   {/*margin-top: -43px;
   // margin-left: 185px;
  }

  #break-decrement{
    {/*margin-top: -44px;
    //margin-left: 300px;

  }
  */}


  .button-container{
    display: inline-block;
    border: 5px solid rgb(83, 14, 14);

  }


  .label{
    display: inline-block;
    border: 1px solid red;
    }

  #session-label{

    }

    
  #break-label{

  }

   .inputDisplay{
    display: inline-block;
    border: 1px solid blue;
    height: 40px;
    width: 50px;
  }

  #session-length{
    border: 1px solid blue;
  }

  #break-length{
    border: 1px solid blue;
  }